<div class="card-container">
    <!--<we-preview></we-preview>
    <we-grid [menus]="[1,2]"></we-grid>
    <we-gallery></we-gallery>
    <we-uploader title="上传图片"></we-uploader>
    <we-cell [isLink]=true title="列表标题" value="列表说明"></we-cell>
    <we-button type="primary" (click)="showactionSheet = !showactionSheet" text="打开actionsheet"></we-button>
    <we-actionsheet [menus]="[1,2,3]" [show]="showactionSheet"></we-actionsheet>
    <we-group title="容器标题">
        <we-input title="用户名" name='name' placeholder='123'></we-input>
    </we-group>
    <we-selector [options]="[1,2,3]" title="下拉框"></we-selector>
    <we-checkbox title="复选框"></we-checkbox>
    <we-radio title="单选框"></we-radio>
    <we-switch title="切换switch"></we-switch>
    <we-input title="用户名" name='name' placeholder='123'></we-input>
    <we-button type="warn" [disable]="true" text="你好"></we-button>
    <we-button type="primary" text="你好"></we-button>
    <we-button [mini]="true" type="primary" text="你好"></we-button>
    <we-button [plain]="true" type="primary" text="你好"></we-button>
    <we-textarea></we-textarea>-->
    <we-toast-wrap></we-toast-wrap>
    <we-alert></we-alert>
    <we-action-sheet></we-action-sheet>
</div>